html, body {
    margin: 0;
    padding: 0;
}

div.panel {
    width: 100%;
    height: 100vh;
}

div.iamsudame-wrapper {
    position: relative;
    display: table;
}

div.iamsudame {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

div.iamsudame>p {
    font-size: 15vw;
    font-weight: 900;
    margin: 0;
    padding: 0 0 5vh 0;
}

div.iamsudame-wrapper>.arrow {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    width: 15vw;
    height: 15vw;
    line-height: 15vw;
    text-align: center;
    left: calc(50% - 7.5vw);
    animation: 2s ease-in-out 0s infinite alternate arrowBrink;
}

div.iamsudame-wrapper>.arrow>.material-icons {
    font-size: 15vw;
}

div.panel.twitter{
    background-color: #1DA1F2;
    display: table;
}

div.panel.twitter a{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

a.twitter-share-button {
    display: inline-block;
}

a.twitter-share-button>img {
    width: 15vw;
}

@media (max-aspect-ratio: 1/1) {
    div.iamsudame>p {
        font-size: 13vh;
        font-weight: 900;
        writing-mode: tb-rl;
        /* IE用 */
        writing-mode: vertical-rl;
        /* Chrome、Firefox用 */
        margin: 0 auto;
        white-space: nowrap;
        width: 1em;
        /* firefox対策 */
        line-height: 1em;
        /* firefox対策 */
        text-orientation: upright;
        letter-spacing: 0.1em;
    }
    div.iamsudame-wrapper>.arrow {
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        width: 13vh;
        height: 13vh;
        line-height: 13vh;
        text-align: center;
        left: calc(50% - 6.5vh);
    }
    div.iamsudame-wrapper>.arrow>.material-icons {
        font-size: 13vh;
    }
    a.twitter-share-button {
        margin-top: 10px;
    }
    a.twitter-share-button>img {
        height: 10vh;
    }
}

@keyframes arrowBrink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

div.main {
    min-height: 100vh
}